<!DOCTYPE html>
<html>

<head>
    <title>Job List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cloudjs.github.io/js/vuetify.min.css" rel="stylesheet">
    <script src="https://cloudjs.github.io/js/vue.min.js"></script>
    <script src="https://cloudjs.github.io/js/vuetify.min.js"></script>
    <style>
        .v-list--three-line .v-list__tile {
            height: 72px !important;
        }

        .round-list {
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app light>
            <v-toolbar class="white">
                <v-toolbar-title>
                    {{ q }} {{ title }} 
                </v-toolbar-title>
            </v-toolbar>
            <v-content>


                <v-layout column align-center justify-center>
                    <v-container fluid>
                        <v-flex xs12 md6 offset-md3>
                            <v-layout>
                                <v-flex xs6 pr-2>
                                    <v-select :items="categories" label="Job type" box v-model='q' @change="getData()"></v-select>
                                </v-flex>
                                <v-flex xs6>
                                    <v-text-field label="Location" v-model="l" box @change="getData()"></v-text-field>
                                </v-flex>
                            </v-layout>
                            <p><v-icon small color="green">
                                    check_circle
                                    </v-icon>Apply to all the companies that hiring you.  Get hired tomorrow!</p>
                            <v-list three-line class="grey lighten-5">
                                <template v-for="(item, index) in items">
                                        <!-- && item.price=='high' -->
                                    <v-list-tile v-if="checkTitle(item.title, q)" class="elevation-2 mb-2 round-list white" @click="goto('https://api.apply-now.io/api/v1/go?u='+item.url)" :key="index">
                                        <!-- <v-list-tile-avatar tile size="48" class="mt-1">
                                            <img>
                                        </v-list-tile-avatar> -->

                                        <v-list-tile-content class="mt-1">
                                            <v-list-tile-title>
                                                <strong>{{ item.company }}</strong>
                                            </v-list-tile-title>
                                            <v-list-tile-sub-title>{{ item.title }}</v-list-tile-sub-title>
                                        </v-list-tile-content>

                                        <v-list-tile-action>
                                            <v-btn depressed round small color="primary">View</v-btn>
                                        </v-list-tile-action>

                                    </v-list-tile>

                                </template>
                            </v-list>
                        </v-flex>
                    </v-container>
                </v-layout>
            </v-content>
        </v-app>
    </div>
    
    <script src="https://cloudjs.github.io/js/axios.min.js"></script>
    <script src="https://cloudjs.github.io/js/lodash.min.js"></script>
    
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    title: 'Hiring - Apply Now',
                    items: [],
                    categories: ['Truck Driver', 'Driver', 'Nurse', 'Sales Associate', 'Admin', 'Accountant'],
                    l: "Austin, TX",
                    q: "Truck Driver"
                }
            },
            methods: {
                goto(url) {
                    url = 'https://api.apply-now.io/api/v1/go?u='+url;
                    let newTab = window.open();
                    newTab.location.href = url;
                },
                getData() {
                    let url = "https://api.apply-now.io/api/v1/ja/0/"+this.q+"/"+this.l
                    axios
                        .get(url)
                        .then(response => {
                            this.items = _.uniqBy(response.data['jobs'], 'company');
                        });
                },
                checkTitle(a,q) {
                    return a.includes(q);
                }
            },
            created() {
                this.getData();
            },
        })
    </script>
</body>

</html>