<!DOCTYPE html>
<html>

<head>
    <title>Current Job Openings | US Jobs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cloudjs.github.io/js/vuetify.min.css" rel="stylesheet">
    <script src="https://cloudjs.github.io/js/vue.min.js"></script>
    <script src="https://cloudjs.github.io/js/vuetify.min.js"></script>
    <style>
        .v-list--three-line .v-list__tile {
            height: 72px !important;
        }

        .round-list {
            border-radius: 10px;
        }

        .top-round {
            border-top-left-radius: 10px !important;
            border-top-right-radius: 10px !important;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142791202-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-142791202-1');
    </script>

</head>

<body>
    <div id="app">
        <v-app light>
            <v-toolbar class="white">
                <v-toolbar-title>
                    {{ title }}
                </v-toolbar-title>
            </v-toolbar>
            <v-content>


                <v-layout column align-center justify-center>
                    <v-container fluid>
                        <v-flex xs12 md6 offset-md3>

                            <v-bottom-sheet persistent v-model="dialog">

                                <v-card class="elevation-2 mb-0 top-round white">
                                    <v-card-title class="title">
                                        Start Your Application Now!
                                    </v-card-title>
                                    <v-card-text>
                                        <!-- <v-select :items="positions" label="Positions" box chips multiple v-model='k'></v-select> -->
                                        <v-text-field label="Position" v-model="q" box @blur="getData()"
                                            @change="checkdisabled()"></v-text-field>

                                        <v-text-field label="Mobile Phone Number" v-model="mobile" mask="phone" box
                                            @change="checkdisabled()" @blur="track()"></v-text-field>

                                        <small class="muted grey--text text--lighten-1">By clicking button below, I
                                            agree to the Terms of Use and Privacy Policy. By providing your phone
                                            number, you will receive texts for our newsletters. Consent not required for
                                            use of services.</small>
                                    </v-card-text>
                                    <v-card-actions class="pb-4">
                                        <v-btn depressed round block color="purple darken-3 white--text"
                                            @click="saveData()" :disabled="disabled">Apply Now</v-btn>
                                    </v-card-actions>
                                </v-card>


                            </v-bottom-sheet>



                            <p class="text-xs-center">
                                <v-icon small color="green">check_circle</v-icon>
                                Current {{ q }} openings in {{ location }}- click to apply!
                            </p>
                            <div class="text-xs-center">
                                <v-progress-circular :size="50" color="primary" indeterminate v-if="items.length === 0">
                                </v-progress-circular>
                            </div>
                            <v-list three-line class="grey lighten-5" v-if="items.length > 0">
                                <template v-for="(item, index) in sponsored">
                                    <!-- && item.price=='high' -->
                                    <v-list-tile class="elevation-2 mb-2 round-list white" @click="goto(item.url)"
                                        :key="index">
                                        <!-- <v-list-tile-avatar tile size="48" class="mt-1">
                                            <img :src="item.logo_url">
                                        </v-list-tile-avatar> -->

                                        <v-list-tile-content class="mt-1">
                                            <v-list-tile-title class="blue--text text--darken-3">
                                                <strong>{{ normalize(item.title) }}</strong>
                                            </v-list-tile-title>
                                            <v-list-tile-sub-title>{{ normalize(item.company) }}</v-list-tile-sub-title>
                                        </v-list-tile-content>

                                        <!-- <v-list-tile-action>
                                            <v-btn depressed round small color="primary">Apply</v-btn>
                                        </v-list-tile-action> -->

                                    </v-list-tile>

                                </template>
                                <template v-for="(item, index) in items">
                                    <!-- && item.price=='high' -->
                                    <v-list-tile v-if="checkTitle(item.title, q, item.company)" class="elevation-2 mb-2 round-list white" @click="goto(item.url)"
                                        :key="index">
                                        <!-- <v-list-tile-avatar tile size="48" class="mt-1">
                                            <img :src="item.logo_url">
                                        </v-list-tile-avatar> -->

                                        <v-list-tile-content class="mt-1">
                                            <v-list-tile-title class="blue--text text--darken-3">
                                                <strong>{{ normalize(item.title) }}</strong>
                                            </v-list-tile-title>
                                            <v-list-tile-sub-title>{{ normalize(item.company) }}</v-list-tile-sub-title>
                                        </v-list-tile-content>

                                        <!-- <v-list-tile-action>
                                            <v-btn depressed round small color="primary">Apply</v-btn>
                                        </v-list-tile-action> -->

                                    </v-list-tile>

                                </template>
                            </v-list>
                        </v-flex>
                    </v-container>
                </v-layout>
            </v-content>
        </v-app>
    </div>

    <script src="https://cloudjs.github.io/js/axios.min.js"></script>
    <script src="https://cloudjs.github.io/js/lodash.min.js"></script>

    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    title: 'Current Openings',
                    items: [],
                    sponsored: [],
                    l: "",
                    q: "Truck Driver",
                    location: "",
                    mobile: "",
                    dialog: true,
                    disabled: true
                }
            },
            methods: {
                getUrlVars() {
                    var vars = {};
                    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key,
                    value) {
                        vars[key] = value;
                    });
                    return vars;
                },
                goto(url) {
                    // ga event
                    gtag('event', 'link_clicked', {
                        'event_category': 'link',
                        'event_label':  window.btoa(this.mobile)+'..'+this.q,
                        'value': 1
                    });
                    // end ga event
                    url = 'https://api.apply-now.io/api/v1/go?u=' + url;
                    let newTab = window.open();
                    newTab.location.href = url;
                },
                track() {
                    // ga event
                    gtag('event', 'mobile_enter', {
                        'event_category': 'enter_mobile',
                        'event_label': window.btoa(this.mobile)+'..'+this.q,
                        'value': 0
                    });
                    // end ga event
                },
                saveData() {
                    // ga event
                    gtag('event', 'mobile_submitted', {
                        'event_category': 'mobile_submitted',
                        'event_label': window.btoa(this.mobile)+'..'+this.q,
                        'value': 2
                    });
                    // end ga event
                    axios.post('https://api.apply-now.io/api/v1/subscription/addmq', {
                            mobile: this.mobile,
                            q: this.q,
                            zipcode: this.l
                        })
                        .then((response) => {
                            this.getSponsoredData();
                            this.dialog = false;
                        })
                },
                getData() {
                    
                    axios.get('https://api.apply-now.io/api/v1/ip/current')
                        .then(({
                            data
                        }) => {
                            this.l = data.zip
                            this.location = data.city + ',' + data.region_code
                            this.getResult()
                        })
                },
                getResult() {
                    let url = "https://api.apply-now.io/api/v1/ja/0/" + this.encodeUrl(this.q) + "/" + this.l
                    axios
                        .get(url)
                        .then(response => {
                            this.items = _.uniqBy(response.data['jobs'], 'company');
                        });
                },
                encodeUrl(q) {
                    q1 = q.replace('/', ' ')
                    q1 = q1.replace(/\s{2,}/i, " ")
                    return encodeURI(q1)
                },
                checkTitle(a, q, c) {
                    a1 = a.toLowerCase()
                    q1 = q.toLowerCase()
                    c1 = c.toLowerCase()
                    
                    
                    if(q1.includes('truck')) {
                        let e1 = ["Stevens Transport","Starsky Robotics","Buchanan Hauling & Rigging","Dick Lavy Trucking","BCT","Southwestern Nevada","FedEx Custom Critical","Instacart","Boyd Brothers Transportation","CalArk","Tyson Foods","Schneider", "Uber"];
                        for(let i=0; i<e1.length; i++) {
                            
                            if(c1.includes(e1[i].toLowerCase()))  return false;
                        }
                    }
                    if (c1.includes('ad') || c1.includes('confidential') || c1.includes('stevens trucking'))
                        return false;
                    return a1.includes(q1);
                },
                normalize(s) {
                    if (s.length > 30) return s.substring(0, 30) + '...'
                    return s
                },
                getSponsoredData() {
                    let url = "https://api.apply-now.io/api/v1/j/0/"+this.encodeUrl(this.q)+"/"+this.l
                    axios
                        .get(url)
                        .then(response => {
                            this.sponsored = _.uniqBy(response.data['jobs'], 'company');
                        });
                },
                checkdisabled() {
                    
                    if (this.mobile != '' && this.q != '') this.disabled = false;
                    else this.disabled = true;
                }
            },
            created() {
                if (this.getUrlVars() && 'q' in this.getUrlVars()) this.q = decodeURI(this.getUrlVars()['q']);
                this.getData();
            },
        })
    </script>
</body>

</html>