<!DOCTYPE html>
<html>

<head>
    <title>Job List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cloudjs.github.io/js/vuetify.min.css" rel="stylesheet">
    <script src="https://cloudjs.github.io/js/vue.min.js"></script>
    <script src="https://cloudjs.github.io/js/vuetify.min.js"></script>
    <style>
        .v-list--three-line .v-list__tile {
            height: 72px !important;
        }

        .round-list {
            border-radius: 10px;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158844611-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-158844611-1');
    </script>

</head>

<body>
    <div id="app">
        <v-app light>
            <v-toolbar class="white" v-if="is_results">
                <v-toolbar-title>
                    {{ title }}
                </v-toolbar-title>
            </v-toolbar>
            <v-content>


                <v-layout column align-center justify-center>
                    <v-container fluid>
                        <v-flex xs12 md6 offset-md3 v-if="!is_results">
                            
                            <v-card class="elevation-2 mb-2 round-list white">
                                <v-card-text>
                                    <div v-if="items.length > 0"  class="text-xs-center">
                                        <p>
                                                <img :src="items[0].logo_url" alt="" height="50">
                                            </p>
                                            <div>
                                                    <b>{{ items[0].title }}</b>
                                            </div>
                                            <div class="grey--text text--darken-1 my-2">{{ items[0].company }} - {{ items[0].city[0] }}</div>
                                            <div class="caption grey--text text--lighten-1" v-html="items[0].description+'...'"></div>
                                        </div>

                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-text>
                                    <div class="mb-2">
                                        <b>Start Your Application</b>
                                    </div>
                                    
                                    <!-- <v-select :items="positions" label="Positions" box chips multiple v-model='k'></v-select> -->
                                    <v-text-field label="Position" v-model="form.q" box  @change="checkdisabled()" v-if='show_q'></v-text-field>
                                    <v-text-field label="Zipcode" v-model="form.zipcode" box mask="#####" @change="checkdisabled()" v-if='show_l'></v-text-field>
                                    <v-text-field label="Mobile Phone Number" v-model="form.mobile" box @change="checkdisabled()" mask="phone"></v-text-field>
                                    
                                </v-card-text>
                                <v-card-actions class="pb-4">
                                    <v-btn depressed round block color="primary" :href="items.length > 0 ? 'https://api.apply-now.io/api/v1/go?u='+items[0].url : ''" @click="subscribe()" :disabled="disabled" class="button" target="_blank">Apply Now</v-btn>
                                    <!-- <v-btn depressed round block color="primary" @click="subscribe()" :disabled="disabled">Apply Now</v-btn> -->
                                </v-card-actions>
                            </v-card>
                            <small class="muted grey--text text--lighten-1">By clicking button below, I agree to the Terms of Use and Privacy Policy. By providing your phone number, you will receive texts for our newsletters. Consent not required for use of services.</small>
                            
                            
                        </v-flex>


                        <!-- results -->
                        <v-flex xs12 md6 offset-md3 v-if="is_results">
                                <p class="text-xs-center" v-if="items.length > 0">
                                    <v-icon small color="green">check_circle</v-icon>
                                    Current {{ form.q }} openings in {{ location }}- click to apply!
                                </p>
                                <v-list three-line class="grey lighten-5" v-if="items.length > 0">
                                    <template v-for="(item, index) in sponsored">
                                        <!-- && item.price=='high' -->
                                        <v-list-tile class="elevation-2 mb-2 round-list white" @click="goto(item.url)"
                                            :key="index">
                                            <!-- <v-list-tile-avatar tile size="48" class="mt-1">
                                                <img :src="item.logo_url">
                                            </v-list-tile-avatar> -->
    
                                            <v-list-tile-content class="mt-1">
                                                <v-list-tile-title class="blue--text text--darken-3">
                                                    <strong>{{ normalize(item.title) }}</strong>
                                                </v-list-tile-title>
                                                <v-list-tile-sub-title>{{ normalize(item.company) }}</v-list-tile-sub-title>
                                            </v-list-tile-content>
    
                                            <!-- <v-list-tile-action>
                                                <v-btn depressed round small color="primary">Apply</v-btn>
                                            </v-list-tile-action> -->
    
                                        </v-list-tile>
    
                                    </template>
                                    <template v-for="(item, index) in items">
                                        <!-- && item.price=='high' -->
                                        <v-list-tile class="elevation-2 mb-2 round-list white" @click="goto(item.url)"
                                            :key="index">
                                            <!-- <v-list-tile-avatar tile size="48" class="mt-1">
                                                <img :src="item.logo_url">
                                            </v-list-tile-avatar> -->
    
                                            <v-list-tile-content class="mt-1">
                                                <v-list-tile-title class="blue--text text--darken-3">
                                                    <strong>{{ normalize(item.title) }}</strong>
                                                </v-list-tile-title>
                                                <v-list-tile-sub-title>{{ normalize(item.company) }}</v-list-tile-sub-title>
                                            </v-list-tile-content>
    
                                            <!-- <v-list-tile-action>
                                                <v-btn depressed round small color="primary">Apply</v-btn>
                                            </v-list-tile-action> -->
    
                                        </v-list-tile>
    
                                    </template>
                                </v-list>
                        </v-flex>
                    </v-container>
                </v-layout>
            </v-content>
        </v-app>
    </div>
    
    <script src="https://cloudjs.github.io/js/axios.min.js"></script>
    <script src="https://cloudjs.github.io/js/lodash.min.js"></script>
    
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    disabled: true,
                    title: 'Current Openings',
                    k: ['Cashier', 'Sales Associate','Driver', 'Customer Service'],
                    positions: ['Cashier', 'Sales Associate', 'Stock Associate', 'Driver', 'Customer Service', 'Manager'],
                    form: {
                        mobile: "",
                        q: "Truck Driver",
                        zipcode: ""
                    },
                    show_q: true,
                    show_l: false,
                    items: [],
                    sponsored: [],
                    is_results: false,
                    location: ''
                }
            },
            methods: {
                getUrlVars() {
                    var vars = {};
                    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                        vars[key] = value;
                    });
                    return vars;
                },
                goto(url) {
                    // ga event
                    gtag('event', 'click_job', {
                        'event_category': 'm3_click',
                        'event_label':this.url,
                        'value': 0
                    });
                    gtag('event', 'conversion', {'send_to': 'AW-770861134/e8BoCKXb9aQBEM7Qye8C'});
                    // end ga event
                    url = 'https://api.apply-now.io/api/v1/go?u='+url;
                    let newTab = window.open();
                    newTab.location.href = url;
                },
                subscribe() {
                    // ga event
                    gtag('event', 'subscribe', {
                        'event_category': 'm3_submitted',
                        'event_label': window.btoa(this.form['mobile']),
                        'value': 2
                    });
                    gtag('event', 'conversion', {'send_to': 'AW-770861134/_8ECCO3k-aQBEM7Qye8C'});
                    // end ga event
                    
                    axios.post('https://api.apply-now.io/api/v1/subscription/addmq', this.form)
                            .then((response) => {
                                this.is_results = true;
                                // window.location.replace('r1.html?l='+this.form['zipcode']+'&m='+window.btoa(this.form['mobile'])+'&q='+this.encodeUrl(this.form['q']));
                            })
                },
                encodeUrl(q) {
                    q1 = q.replace('/', ' ')
                    q1 = q1.replace(/\s{2,}/i, " ")
                    return encodeURI(q1)
                },
                checkdisabled() {
                    // ga event
                    if(this.form['mobile']  != '') {
                        gtag('event', 'contact_entered', {
                            'event_category': 'm3_enter',
                            'event_label': window.btoa(this.form['mobile']),
                            'value': 0
                        });
                    }
                    // end ga event
                    if(this.form['mobile']  != '' && this.validatePhone(this.form['mobile'] ) === false) alert('Invalid phone number.')
                    if(this.form['mobile'] !='' && this.form['zipcode'] != '' && this.form['q'] != '' && this.validatePhone(this.form['mobile'])) this.disabled = false;
                    else this.disabled = true;
                },
                validatePhone(p) {
                    var patt = new RegExp("[0-9]{10}");
                    return patt.test(p);
                },
                checkTitle(a, q, c) {
                    a1 = a.toLowerCase()
                    q1 = q.toLowerCase()
                    c1 = c.toLowerCase()
                    
                    
                    if(q1.includes('truck')) {
                        let e1 = ["Stevens Transport","Starsky Robotics","Buchanan Hauling","Dick Lavy","BCT","Southwestern Nevada","FedEx Custom Critical","Instacart","Boyd Brothers Transportation","CalArk","Tyson Foods","Schneider", "Uber","Avon"];
                        for(let i=0; i<e1.length; i++) {
                            
                            if(c1.includes(e1[i].toLowerCase()))  return false;
                        }
                    }
                    if (c1.includes('ad') || c1.includes('confidential') || c1.includes('stevens trucking'))
                        return false;
                    return a1.includes(q1);
                },
                getData() {
                    if(this.form['zipcode'] != '') this.getResult()
                    else {
                        axios.get('https://api.apply-now.io/api/v1/ip/current')
                            .then(({
                                data
                            }) => {
                                this.form['zipcode'] = data.zip
                                this.location = data.city + ',' + data.region_code
                                this.getResult()
                            })
                    }
                },
                normalize(s) {
                    if (s.length > 30) return s.substring(0, 30) + '...'
                    return s
                },
                getResult() {
                    let url = "https://api.apply-now.io/api/v1/ja/0/" + this.encodeUrl(this.form['q']) + "/" + this.form['zipcode']
                    axios
                        .get(url)
                        .then(response => {
                            let temp = _.filter(response.data['jobs'], (v, k)=> {
                                return this.checkTitle(v.title, this.form['q'], v.company)
                            })

                            this.items = _.uniqBy(temp, 'company');
                        });
                }
            },
            created() {
                let vars = this.getUrlVars()
                if('q' in vars) this.form['q'] = decodeURI(this.getUrlVars()['q']);
                if('l' in vars) this.form['zipcode'] = decodeURI(this.getUrlVars()['l']);
                this.getData()
                if(this.form['q'] != '') this.show_q = false
                if(this.form['zipcode'] != '') this.show_l = false
            }
        })
    </script>
</body>

</html>
