<!DOCTYPE html>
<html>

<head>
    <title>Job List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cloudjs.github.io/js/vuetify.min.css" rel="stylesheet">
    <script src="https://cloudjs.github.io/js/vue.min.js"></script>
    <script src="https://cloudjs.github.io/js/vuetify.min.js"></script>
    <style>
        .v-list--three-line .v-list__tile {
            height: 72px !important;
        }

        .round-list {
            border-radius: 10px;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142791202-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142791202-1');
  gtag('config', 'AW-770861134');
</script>

</head>

<body>
    <div id="app">
        <v-app light>
            <v-toolbar class="white">
                <v-toolbar-title>
                    {{ title }} 
                </v-toolbar-title>
            </v-toolbar>
            <v-content>


                <v-layout column align-center justify-center>
                    <v-container fluid>
                        <v-flex xs12 md6 offset-md3>
                            <v-text-field label="Position" v-model="q" box  @blur="getData()"></v-text-field>
                            <p>
                                <v-icon small color="green">check_circle</v-icon> 
                                All companies hiring {{ q }}. Click to apply!
                            </p>
                            <v-list three-line class="grey lighten-5">
                                <template v-for="(item, index) in items">
                                        <!-- && item.price=='high' -->
                                    <v-list-tile v-if="checkTitle(item.title, q, item.company)" class="elevation-2 mb-2 round-list white" @click="goto(item.url)" :key="index">
                                        <v-list-tile-avatar tile size="48" class="mt-1">
                                            <img :src="item.logo_url">
                                        </v-list-tile-avatar>

                                        <v-list-tile-content class="mt-1">
                                            <v-list-tile-title class="blue--text text--darken-3">
                                                <strong>{{ normalize(item.company) }}</strong>
                                            </v-list-tile-title>
                                            <v-list-tile-sub-title>{{ normalize(item.title) }}</v-list-tile-sub-title>
                                        </v-list-tile-content>

                                        <v-list-tile-action>
                                            <v-btn depressed round small color="primary">Apply</v-btn>
                                        </v-list-tile-action>

                                    </v-list-tile>

                                </template>
                            </v-list>
                        </v-flex>
                    </v-container>
                </v-layout>
            </v-content>
        </v-app>
    </div>
    
    <script src="https://cloudjs.github.io/js/axios.min.js"></script>
    <script src="https://cloudjs.github.io/js/lodash.min.js"></script>
    
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    title: 'Companies Hiring - Click to Apply',
                    items: [],
                    l: "",
                    q: "Driver"
                }
            },
            methods: {
                getUrlVars() {
                    var vars = {};
                    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                        vars[key] = value;
                    });
                    return vars;
                },
                goto(url) {
                    // ga event
                    gtag('event', 'click_job', {
                        'event_category': 'click_r1',
                        'event_label':this.url,
                        'value': 0
                    });
                    gtag('event', 'conversion', {'send_to': 'AW-770861134/e8BoCKXb9aQBEM7Qye8C'});
                    // end ga event
                    url = 'https://api.apply-now.io/api/v1/go?u='+url;
                    let newTab = window.open();
                    newTab.location.href = url;
                },
                getData() {
                    let url = "https://api.apply-now.io/api/v1/ja/0/"+this.encodeUrl(this.q)+"/"+this.l
                    axios
                        .get(url)
                        .then(response => {
                            this.items = _.uniqBy(response.data['jobs'], 'company');
                        });
                },
                encodeUrl(q) {
                    q1 = q.replace('/', ' ')
                    q1 = q1.replace(/\s{2,}/i, " ")
                    return encodeURI(q1)
                },
                checkTitle(a,q,c) {
                    a1 = a.toLowerCase()
                    q1 = q.toLowerCase()
                    c1 = c.toLowerCase()
                    if(c1.includes('ad') || c1.includes('confidential') || c1.includes('stevens trucking')) return false;
                    return a1.includes(q1);
                },
                normalize(s) {
                    if(s.length > 20 ) return s.substring(0,20)+'...'
                    return s
                }
            },
            created() {
                this.l = decodeURI(this.getUrlVars()['l']);
                this.q = decodeURI(this.getUrlVars()['q']);
                this.getData();
            },
        })
    </script>
</body>

</html>
